sudo: required
services:
  - docker

language: java
jdk:
  - oraclejdk8

before_install:
  - sudo service postgresql stop
  - while sudo lsof -Pi :5432 -sTCP:LISTEN -t; do sleep 1; done
  - sudo apt-get -qq update
  - sudo apt-get install -y python

script: ./gradlew clean build

after_success:
  - ./gradlew buildDockerImage publishDockerImage
