<div class="loading-icon" ng-if="shareFeedback.isSaving">
  <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
     <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
  </svg>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Feedback Form</div>
  <div class="panel-body">
    <form ng-submit="shareFeedback.submit()">
      <div ng-if="shareFeedback.categoryId != '1'">
        <div class="form-group required">
          <label>How are you feeling today?</label>
        </div>
        <div class="bliss">
          <div class="reaction very-dissatisfied" ng-click="shareFeedback.setRating(1)" ng-class="{'selected': (shareFeedback.rating == 1) }" style="
">
            <i class="material-icons" style="font-size: 90px;">sentiment_very_dissatisfied</i>
          </div>
          <div class="reaction sentiment-neutral" ng-click="shareFeedback.setRating(2)" ng-class="{'selected': (shareFeedback.rating == 2) }" style="
">
            <i class="material-icons" style="font-size: 90px;">sentiment_neutral</i>
          </div>
          <div class="reaction sentiment-very-satisfied" ng-click="shareFeedback.setRating(3)" ng-class="{'selected': (shareFeedback.rating == 3) }" style="
">
            <i class="material-icons" style="font-size: 90px;">sentiment_very_satisfied</i>
          </div>
        </div>
      </div>
      <div ng-if="shareFeedback.shouldShowForm()">
        <div class="form-group required">
          <label for="title">Title</label>
          <input type="text" rows="5" ng-model="shareFeedback.title" ng-disabled="isSaving" class="form-control" id="title" placeholder="Enter title" name="title"/>
        </div>
        <div class="form-group required">
          <label for="feedback">Feedback</label>
          <textarea rows="5" ng-model="shareFeedback.feedback" ng-disabled="isSaving" class="form-control" id="feedback" placeholder="Enter feedback" name="feedback"></textarea>
        </div>
        <div class="form-group required">
          <label for="location">Location</label>
          <select class="form-control" ng-disabled="ishareFeedback.sSaving" id="location" name="location" ng-model="shareFeedback.location">
            <option ng-repeat="location in shareFeedback.locations" value="{{location.id}}">{{location.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="name">Name (leave blank to remain anonymous)</label>
          <input type="text" ng-model="shareFeedback.name" ng-disabled="shareFeedback.isSaving" class="form-control" id="name" placeholder="Enter name" name="name">
        </div>
        <div class="submit-button">
          <button type="submit" class="btn btn-default" ng-disabled="shareFeedback.isFormNotValid() || shareFeedback.isSaving">Submit</button>
        </div>

      </div>
    </form>
  </div>
</div>