<div class="col-xs-12 all-feedback">
  <div class="col-xs-6"><h4 id="feedback">Top Feedback</h4></div>
  <div class="col-xs-6 share-feedback-container">
    <a href="#!category" class='share-feedback'>Share Feedback</a>
  </div>
</div>
<div class="feedback-group">
	<div class="feedback-item col-xs-12" ng-repeat="f in feedback.feedback">
		<div class="col-xs-4 row votes">
			<div class="col-xs-3 votes-up-icon"></div>
			<div class="col-xs-3 votes-label">0</div>
			<div class="col-xs-3 votes-down-icon"></div>
			<div class="col-xs-3 votes-label">0</div>
		</div>
		<div class="col-xs-1 category">
			<div class="category-label">{{ f.category.name}}</div>
		</div>
		<div class="col-xs-1 location">
			<div class="location-label">{{ f.location.name}}</div>
		</div>
		<div class="col-xs-6 feedback">
			<div class="feedback-title">
				<a href="#!displayFeedback?id={{f.id}}">{{ f.title }}</a>
				<div class="respondent-label">By {{ f.respondent}}</div>
			</div>
			<div class="feedback-message">{{ f.message }}</div>
		</div>
	</div>
</div>
