<div class="col-xs-12 all-feedback" ng-if="!feedback.isMinimal()">
  <div class="col-xs-6"><h4 id="feedback">Feedback</h4></div>
  <div class="col-xs-6 share-feedback-container">
    <a href="#!category" class='share-feedback'>Share Feedback</a>
  </div>
</div>
<div class="col-xs-12 all-feedback latest" ng-if="feedback.isMinimal()">
	<div class="col-xs-6"><h4 id="feedback">Latest Feedback</h4></div>
</div>
<div class="feedback-group">
	<div class="feedback-item col-xs-12" ng-repeat="f in feedback.feedback">
		<div class="col-xs-1 categories">
			<div class="category" ng-class="f.category.name">
				<i class="icon material-icons">{{f.category.icon}}</i>
			</div>
		</div>
		<div class="col-xs-1 comments">
			<i class="material-icons">comment</i>
			<div class="comments-count">{{f.discussionCount}}</div>
		</div>
		<div class="col-xs-6 feedback">
			<div class="feedback-title">
				<a href="#!displayFeedback?id={{f.id}}">{{ f.title }}</a>
			</div>
			<div class="feedback-message">{{ f.message }}</div>
			<div class="respondent-label">By {{ f.respondent}} - {{ f.location.name}}</div>
		</div>
		<div class="col-xs-4 container votes">
			<div class="col-xs-3 votes-up-icon vote-container col-xs-offset-6" ng-click="feedback.upVote(f)">
				<span class="glyphicon glyphicon-thumbs-up thumbs-up-icon"></span>
				<div class="votes-label">{{ f.rating.upvotes }}</div>
			</div>
			<div class="col-xs-3 votes-down-icon vote-container" ng-click="feedback.downVote(f)">
				<span class="glyphicon glyphicon-thumbs-down thumbs-down-icon"></span>
				<div class="col-xs-3 votes-label">{{ f.rating.downvotes }}</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-md-offset-4 feedback-row" ng-if="feedback.hasMorePagesLeft">
			<button class="btn btn-default" ng-click="feedback.loadMore()">Load more...</button>
		</div>
	</div>
	<!--<i class="icon material-icons reaction very-dissatisfied selected" ng-if="f.bliss == 1">sentiment_very_dissatisfied</i>-->
	<!--<i class="icon material-icons reaction sentiment-neutral selected" ng-if="f.bliss == 2">sentiment_neutral</i>-->
	<!--<i class="icon material-icons reaction sentiment-very-satisfied selected" ng-if="f.bliss == 3">sentiment_very_satisfied</i>-->

</div>
