<div class="col-xs-12 all-feedback">
  <div class="col-xs-6"><h4 id="feedback">Top Feedback</h4></div>
  <div class="col-xs-6 share-feedback-container">
    <a href="#!category" class='share-feedback'>Share Feedback</a>
  </div>
</div>
<div class="feedback-group">
	<div class="feedback-item col-xs-12" ng-repeat="f in feedback.feedback">
		<div class="col-xs-1 votes">
			<div class="votes-count">0</div>
			<div class="votes-label">Votes</div>
		</div>
		<div class="col-xs-1 comments">
			<div class="comments-count">0</div>
			<div class="comments-label">Comments</div>
		</div>
		<div class="col-xs-10">
			<div class="feedback-title">
				<a href="">{{ f.title }}</a>
			</div>
			<div class="feedback-message">{{ f.message }}</div>
		</div>
	</div>
</div>
