@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  color: #333;
}

.form-group.required label:after {
  content:"*";
  color:red;
}

.logo {
  background-image: url(icons/logo.png);
  height: 60px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: center;
  width: 30%;
}

.bliss img {
  width: 10%;
}

.bliss img:hover,
.bliss img.selected {
  background-color: #f8e4c8;
}

.bliss {
  text-align: center;
}

.add-comment-button {
  width: 60%;
  margin: 0 auto;
}

.submit-button button {
  color: #FFF;
  background-color: #0095ff;
  border-color: #07c;
  box-shadow: inset 0 1px 0 #66bfff;
}

.submit-button button.btn.btn-default:hover {
  color: rgba(255,255,255,0.9);
  background-color: #07c;
  border-color: #005999;
  box-shadow: inset 0 1px 0 #3af;
}

.share-feedback-container {
  text-align: right;
  padding: 8px 13px;
}

.view-feedback-container {
  padding: 8px 13px 8px 0;
  margin-bottom: 10px;
}

.share-feedback,
.view-feedback {
  color: #07c;
  background-color: rgba(0,119,204,0);
  border: 1px solid #0095ff;
  padding: 8px 13px;
  border-radius: 2px;
  text-decoration: none;
}

a {
  color: #07c;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.share-feedback:hover,
.view-feedback:hover {
  color: #005999;
  background-color: #e6f4ff;
  border-color: #07c;
  box-shadow: none;
  text-decoration: none;
}

.all-feedback {
    border-bottom: 1px solid #e4e6e8;
}

.all-feedback.latest {
  margin-top: 20px;
}

.feedback-item, .comment-item {
  padding: 8px 13px;
  border-top: 1px solid #e4e6e8;
}

.feedback-item:last-child, .comment-item:last-child {
  border-bottom: 1px solid #e4e6e8;
}

.feedback-title {
  font-size: 16px;
  font-weight: 500;
}
.feedback-vote, .feedback-details {
  display: inline-block;
}

.feedback-details {
  width: calc(100% - 100px);
}

.feedback-vote .vote {
  display: inline-block;
}

.feedback-vote .votes-label {
  position: relative;
  top: -15px;
}

.feedback-header {
  border-bottom: 1px solid #e4e6e8;
}

.feedback-header .category-label {
  display: inline-block;
  float: right;
}

.feedback-message, .comment-content {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.votes, .comments, .category, .location {
  text-align: center;
}

.votes-label, .respondent-label {
  font-size: 10px;
  color: #848d95;
}

.comments-count {
  font-size: 15px;
  color: #848d95;
}

.comments-group {
  margin-top: 30px;
}

.votes-down-icon, .votes-up-icon {
  background-repeat: no-repeat;
  background-position: center;
  height: 34px;
  width: 34px;
  cursor: pointer;
}

display-feedback .votes-down-icon {
  background-image: url(icons/thumbs_down.svg);
}

display-feedback .votes-up-icon {
  background-image: url(icons/thumbs_up.svg);
}

.votes-label {
  line-height: 30px;
  text-align: left;
  padding: 0;
}

.feedback {
  top: -5px;
  left: -15px;
  position: relative;
}
.category-label {
  font-size: 12px;
  color: #005999;
  padding: 4px;
  background-color: #E1ECF4;
}

.feedback-display-title {
  font-size: 20px;
  padding-bottom: 10px;
  display: inline-block;
  width: calc(100% - 100px);
}

.feedback-display-message {
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.categories .category {
  text-align: center;
  padding: 20px 15px;
}

.categories {
  margin-bottom: 20px;
}

.categories .link.Idea, .feedback-group .category.Idea {
  background-color: #fbbc05;
}

.categories .link.Critique, .feedback-group .category.Critique {
  background-color: #fd6554;
}

.categories .link.Applause, .feedback-group .category.Applause {
  background-color: #34a853;
}

.categories .icon {
  display: block;
  margin-bottom: 15px;
  font-size: 45px;
}

.categories .category .link {
  display: block;
  border: solid 1px #ccc;
  padding: 40px 0;
  font-family: 'Arvo', serif;
  color: #e8e8e8;
}

.category-page h2 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
.category-page .subtitle {
  margin-top: 20px;
  text-align: center;
  color: #717171;
  font-size: 14px;
}

.bliss {
  display: flex;
  justify-content: center;
}

.bliss .reaction {
  margin: 0 15px;
  cursor: pointer;
}

.bliss .reaction .material-icons {
  font-size: 90px;
}

.reaction.very-dissatisfied:hover, .reaction.selected.very-dissatisfied {
  color: #fd6554;
}

.reaction.sentiment-neutral:hover, .reaction.sentiment-neutral.selected {
  color: #fbbc05;
}

.reaction.sentiment-very-satisfied:hover, .reaction.sentiment-very-satisfied.selected {
  color: #34a853;
}

.comment-link {
  color: #848d95;
  opacity: .6;
  margin: 20px 0;
}

.add-comment {
  width: 60%;
  margin: 0 auto
}

.comment-link:hover {
  color: #3af;
}

.feedback-group .categories .icon {
   margin-bottom: 0;
 }

.feedback-group .icon {
  font-size: 32px;
}

.feedback-group .feedback-row {
  text-align: center;
}.spinner {
  animation: rotator 1.4s linear infinite;
}

.thumbs-up-icon, .thumbs-down-icon {
  padding-right: 8px;
  font-size: 20px;
}

.thumbs-up-icon {
  color: #34a853;
}

.thumbs-down-icon {
  color: #fd6554;
}

.vote-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.feedback-group .category {
  color: #e8e8e8;
}
@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}
@keyframes colors {
  0% {
    stroke: #4285f4;
  }
  25% {
    stroke: #de3e35;
  }
  50% {
    stroke: #f7c223;
  }
  75% {
    stroke: #1b9a59;
  }
  100% {
    stroke: #4285f4;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}

.loading-icon {
  top: 48%;
  left: 48%;
  position: absolute;
  width: 100%;
}
