body {
  color: #333;
}

.form-group.required label:after {
  content:"*";
  color:red;
}

.logo {
  background-image: url(icons/logo.png);
  height: 60px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: center;
  width: 30%;
}

.bliss img {
  width: 10%;
}

.bliss img:hover,
.bliss img.selected {
  background-color: #f8e4c8;
}

.bliss {
  text-align: center;
}

.submit-button {
  float: right;
}